annotated-types==0.7.0
attrs==25.3.0
babel==2.17.0
fluent-runtime==0.4.0
fluent-syntax==0.19.0
orjson==3.10.15
pyaes==1.6.1
pyasn1==0.6.1
pydantic==2.11.3
pydantic-core==2.33.1
pydantic-settings==2.7.1
python-dotenv==1.1.0
pytz==2025.2
rsa==4.9.1
structlog==25.1.0
telethon==1.39.0
tenacity==9.0.0
typing-extensions==4.13.2
typing-inspection==0.4.0
