annotated-types==0.7.0
colorama==0.4.6
coverage[toml]==7.8.0
iniconfig==2.1.0
orjson==3.10.15
packaging==24.2
pluggy==1.5.0
pyaes==1.6.1
pyasn1==0.6.1
pydantic==2.11.3
pydantic-core==2.33.1
pydantic-settings==2.7.1
pytest==8.3.4
pytest-asyncio==0.25.3
pytest-cov==4.1.0
pytest-lazy-fixture==0.6.3
pytest-mock==3.12.0
python-dotenv==1.1.0
pytz==2025.2
rsa==4.9.1
structlog==25.1.0
telethon==1.39.0
tenacity==9.0.0
typing-extensions==4.13.2
typing-inspection==0.4.0
